
<form name="createGameForm">
	<div class="form-group">
		<label for="name">Board Name</label> <input type="text"
			class="form-control" id="name" placeholder="Board Name"
			value="{{board.name}}" disabled>
	</div>
	<div class="form-group">
		<label for="type">Type</label> <input type="text" class="form-control"
			id="type" placeholder="Type" ng-model="board.type" disabled>
	</div>
	<div class="form-group">
		<label for="date">Date</label>
		<p class="input-group">
			<input type="text" class="form-control"
				uib-datepicker-popup="{{format}}" ng-model="game.date"
				is-open="datePopup.opened" min-date="minDate" ng-required="true"
				close-text="Close" /> <span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="openDatePicker()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
		<label for="time">Time</label>
		<uib-timepicker ng-model="game.time" hour-step="1" minute-step="1"
			show-meridian="false"></uib-timepicker>
	</div>
	<div class="form-group">
		<label for="players">Player List</label>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Pos</th>
						<th>Name</th>
						<th>Spy</th>
						<th>Actions<th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in players">
						<td>{{$index + 1}}</td>
						<td>{{x.nickname}}</td>
						<td><input type="checkbox" ng-model="x.isSpy" aria-label="Spy"></td>
						<td>
							<div>
								<button ng-click="moveUp($index)" class="btn btn-xs">Move Up</button>
								<button ng-click="moveDown($index)" class="btn btn-xs">Move	Down</button>
								<button ng-click="deletePlayer($index)" class="btn btn-xs">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="input-group">
			<input type="text" ng-model="selectedPlayer" uib-typeahead="user.nickname for user in board.players | filter:$viewValue | limitTo:8" typeahead-editable="false" class="form-control"> 
			<span class="input-group-addon"><input type="checkbox"	ng-model="selectedPlayerSpy" aria-label="Spy">Is Spy</span>
			<span class="input-group-btn"><button ng-click="addPlayer()" class="btn btn-primary">Add Player</button></span>
		</div>
	</div>
	<div class="form-group">
	<br/>
			<label for="winner">Winner</label>
			<label class="radio-inline"> <input type="radio" ng-model="game.winner" name="inlineRadioOptions" id="inlineRadio1" value="resistance">Resistance</label> 
			<label class="radio-inline"> <input type="radio" ng-model="game.winner" name="inlineRadioOptions" id="inlineRadio2" value="spies">Spies</label> 
	</div>
	<button type="submit" class="btn btn-default" ng-click="createGame()" ng-disabled="createGameForm.$invalid">Submit</button>
</form>
