
<h2 class="sub-header">Your Boards</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Type</th>
				<th>Role</th>
				<th># of Players</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>328748324</td>
				<td>Vive La Resistance</td>
				<td>Custom</td>
				<td>Administrator</td>
				<td>15</td>
			</tr>
			<tr>
				<td>432434224</td>
				<td>Fantacalcio</td>
				<td>Custom</td>
				<td>Administrator</td>
				<td>133</td>
			</tr>
		</tbody>
	</table>
</div>

<h2 class="sub-header">Your Recent Games</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Board #</th>
				<th>Board Name</th>
				<th>Status</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>546456</td>
				<td>328748324</td>
				<td>Vive La Resistance</td>
				<td>In Progress</td>
				<td>3/2/2016 23:19 CET</td>
			</tr>
			<tr>
				<td>1,002</td>
				<td>amet</td>
				<td>consectetur</td>
				<td>adipiscing</td>
				<td>elit</td>
			</tr>
			<tr>
				<td>1,003</td>
				<td>Integer</td>
				<td>nec</td>
				<td>odio</td>
				<td>Praesent</td>
			</tr>
			<tr>
				<td>1,003</td>
				<td>libero</td>
				<td>Sed</td>
				<td>cursus</td>
				<td>ante</td>
			</tr>
		</tbody>
	</table>
</div>