 <div class="row">
	<div >
		<h2>Board > {{board.name}}</h2>
		<h4>Type: {{board.type}}</h4>
	</div>
	<h2 class="sub-header">Game History</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>DateTime</th>
					<th>Resistance</th>
					<th>Spies</th>
					<th>Res ELO</th>
					<th>Spies ELO</th>
					<th>Winner</th>
					<th ng-show="isAdmin">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in games">
					<td><a ng-href="#/gamedetails?boardId={{x.boardId}}&gameId={{x.id}}">{{x.time}}</a></td>
					<td>{{x.resistanceList}}</td>
					<td>{{x.spiesList}}</td>
					<td>{{x.resistanceElo}}</td>
					<td>{{x.spiesElo}}</td>
					<td>{{x.winner}}</td>
					<td ng-show="isAdmin">
						<div>
							<button ng-click="deleteGame($index)" class="btn btn-xs">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


