 <div class="row">
	<div>
		<h2>Board > {{board.name}}</h2>
		<h4>Type: {{board.type}}</h4>
	</div>
	<h2 class="sub-header">Stats for Geeks</h2>
	<h3 style="text-align: center">Victories</h3>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="global" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (3v2)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r3v2" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (4v2)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r4v2" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (4v3)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r4v3" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (5v3)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r5v3" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (6v3)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r6v3" chart-labels="labels" chart-colours="colours"/>
	</div>
	<div class="col-sm-12 col-md-3">
		<h5 style="text-align: center">Resistance vs Spies (6v4)</h5>
		<canvas id="pie" class="chart chart-pie" chart-data="r6v4" chart-labels="labels" chart-colours="colours"/>
	</div>
</div>


