<form name="createBoardForm">
	<div class="form-group">
		<label for="name">Board Name</label> <input type="text"
			class="form-control" id="name" placeholder="Board Name"
			ng-model="board.name" required>
	</div>
	<div class="form-group">
		<label for="type">Type</label> <input type="text" class="form-control"
			id="type" placeholder="Type" ng-model="board.type" disabled>
	</div>
	<div class="form-group">
		<label for="players">Player List</label>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Admin</th>
						<th>Owner<th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in board.players">
						<td>{{x.nickname}}</td>
						<td><input type="checkbox" ng-model="x.isAdmin" aria-label="Admin"></td>
						<td><input type="checkbox" ng-model="x.isOwner" ng-disabled="isNotOwner" aria-label="Owner"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="input-group">
			<input type="text" ng-model="selectedPlayer" uib-typeahead="nickname for nickname in nicknames | filter:$viewValue | limitTo:8" typeahead-editable="false" class="form-control"> 
			<span class="input-group-addon"><input type="checkbox" ng-model="selectedPlayerAdmin" aria-label="Admin">Is Admin</span>
			<span class="input-group-addon"><input type="checkbox"	ng-model="selectedPlayerOwner" ng-disabled="isNotOwner" aria-label="Owner">Is Owner</span>
			<span class="input-group-btn"><button ng-click="addPlayer()" class="btn btn-primary">Add Player</button></span>
		</div>
	</div>
	<button type="submit" class="btn btn-default" ng-click="updateBoard()" ng-disabled="createBoardForm.$invalid">Submit</button>
</form>
