 <div ng-show="isMember" class="row">
	<div >
		<h2>Board > {{board.name}}</h2>
		<h4>Type: {{board.type}}</h4>
	</div>
	<h2 class="sub-header">Leaderboard</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span uib-tooltip="Current Position">#</span></th>
					<th><span uib-tooltip="Position Delta">&Delta;</span></th>
					<th><span uib-tooltip="Player Nickname">Player</span></th>
					<th><span uib-tooltip="Games played">GP</span></th>
					<th><span uib-tooltip="Games won">W</span></th>
					<th><span uib-tooltip="% of games won">W %</span></th>
					<th><span uib-tooltip="Games played as resistance">GPR</span></th>
					<th><span uib-tooltip="Games won as resistance">WR</span></th>
					<th><span uib-tooltip="% of games won as resistance">WR %</span></th>
					<th><span uib-tooltip="Games played as spy">GPS</span></th>
					<th><span uib-tooltip="Games won as spy">WS</span></th>
					<th><span uib-tooltip="% of games won as spy">WS %</span></th>
					<th><span uib-tooltip="ELO Rating Delta">ELO &Delta;</span></th>
					<th><span uib-tooltip="Current ELO Rating">ELO</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in board.players">
					<td>{{x.position}} <span ng-style="{color: x.positionVariation > 0 ? 'green' : 'red'}"><b>{{x.positionChangeMarker}}</b></span></td>
					<td>{{x.positionVariation}}</td>
					<td><img ng-src="/avatar/{{x.userId}}" class="img-circle" alt="Avatar" height="25px"> {{x.nickname}}</td>
					<td>{{x.matchesPlayed}}</td>
					<td>{{x.matchesWon}}</td>
					<td>{{x.wp}}</td>
					<td>{{x.matchesPlayedAsResistance}}</td>
					<td>{{x.matchesWonAsResistance}}</td>
					<td>{{x.wrp}}</td>
					<td>{{x.matchesPlayedAsSpy}}</td>
					<td>{{x.matchesWonAsSpy}}</td>
					<td>{{x.wsp}}</td>
					<td>{{x.eloVariation}}</td>
					<td>{{x.elo}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div ng-hide="isMember">
	<br />
	<div class="jumbotron">
		<h2>Welcome to {{board.name}}</h2>
		<p>You did not join this board yet.</p>
		<button class="btn btn-primary" ng-click="joinBoard()"
			class="alert-link">
			Join Now!</a>
	</div>
</div>

