<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h2>Board > {{board.name}}</h2>
		<h4>Type: {{board.type}}</h4>
	</div>
</div>
<div ng-show="showNoGamesInfo" class="row">
	<br />
	<div class="alert alert-info" role="alert">
		You have no schedules games! <a
			ng-href="#/creategame?boardId={{board.id}}" class="alert-link">Create
			a new game now!</a>
	</div>
</div>
<div ng-hide="showNoGamesInfo" class="row">
	<div class="col-xs-12 col-sm-12">
		<h2 class="sub-header">Open Games</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Start Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in games">
						<td>{{x.id}}</a></td>
						<td>{{x.startTime[2]}}/{{x.startTime[1]}}/{{x.startTime[0]}}
							{{x.startTime[3]}}:{{x.startTime[4]}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
