<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="#/dashboard">Overview</a></li>
				<li><a href="#/createboard">Create new board</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li class="active"><a ng-href="#/boarddetails?id={{board.id}}">{{board.name}}</a></li>
				<li><a ng-href="{{createGameHref}}">Create new game</a></li>
			</ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<h2>Board > {{board.name}}</h2>
					<h4>Type: {{board.type}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h2 class="sub-header">Leaderboard</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Pos #</th>
									<th>Name</th>
									<th>ELO</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Marco</td>
									<td>2345</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Andy</td>
									<td>2325</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6">
					<h2 class="sub-header">Board Stats</h2>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Games Played</th>
									<th>Last Game</th>
									<th>Upcoming Game</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>121</td>
									<td>10/02/2016 13:30</td>
									<td>11/02/2016 13:30</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>