 <div class="row">
	<div >
		<h2>Board > {{board.name}}</h2>
		<h4>Type: {{board.type}}</h4>
	</div>
	<h2 class="sub-header">Game Details</h2>
	<br/>
	<h4>DateTime {{game.time}}</h4>
	<h4>Winner {{game.winner}}</h4>
	<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Pos</th>
						<th>Name</th>
						<th>Spy</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in game.playersDetails">
						<td>{{$index + 1}}</td>
						<td>{{x.nickname}}</td>
						<td>{{x.team}}</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>


