<form>
	<div class="form-group">
		<label for="name">Board Name</label> <input type="text"
			class="form-control" id="name" placeholder="Board Name">
	</div>
	<div class="form-group">
		<label for="type">Password</label> <input type="text"
			class="form-control" id="type" placeholder="Type" value="CUSTOM"
			disabled>
	</div>
	<div class="form-group">
		<label for="users">Users</label>
		<tags-input ng-model="tags" add-on-paste="true">
			<auto-complete source="states"></auto-complete>
		</tags-input>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	
</form>