<form>
	<div class="form-group">
		<label for="name">Board Name</label> <input type="text"
			class="form-control" id="name" placeholder="Board Name">
	</div>
	<div class="form-group">
		<label for="type">Type</label> <input type="text"
			class="form-control" id="type" placeholder="Type" value="RESISTANCE"
			disabled>
	</div>
	<div class="form-group">
		<label for="users">Users</label>
		<tags-input ng-model="tags" add-on-paste="true" add-on-blur="false" allow-leftover-text="false">
			<auto-complete source="getMatchingStates($query)"></auto-complete>
		</tags-input>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	
</form>